/* font-family: 'Inconsolata', monospace;
font-family: 'Comfortaa', cursive; */
/* font styles */


*{
    /* background-color: white; */
    font-family: 'Inconsolata', monospace;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
/* img{
    width: 50%;000000000
    height: auto;
} */
header{
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1442124920820-8e5f4b07b563?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80) no-repeat 50% 50%;
    background-size: cover;
    background-color: aqua;
}
main{
    width: 100%;
    height: 100vh;
    background: url()
}


.navbar {
    position: relative;
    width: 100%;
    line-height: 60px;
    float: inline-start;
}

.navbar ul {
    
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: whitesmoke;
    position: relative;
    padding: 0; 
    text-align: right;
    margin: 0;
    padding-left: 50px;
    transition: 1s;
    margin-left: 40px;
}
.navbar li {
    display: inline-block;
    padding: 12px 20px;
}
.about{
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    margin-left:60px;
}

.navbar a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}
#portfolio{
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    text-shadow: 1px 1px 1px whitesmoke;
}
#portfolio .items{
    display: none;
    
}

img{
    border: 3px solid yellow;
    width: 75%;
    height: auto;
    background-size:contain;
}