

*{
    /* background-color: white; */
    font-family: 'Inconsolata', monospace;
}

header{
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1442124920820-8e5f4b07b563?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80) no-repeat 50% 50%;
    background-size: cover;
    
}

video{
    
    position: absolute;
    top: 0px; 
    left: 0px; 
    
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
 

}

.navbar {
    position: relative;
    width: 100%;
    line-height: 60px;
    float: inline-start;
}

.navbar ul {
    
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: whitesmoke;
    position: relative;
    
    text-align: right;
    
    transition-property: all;
    transition: 4s;
    
}
.navbar li {
    display: inline-block;
   margin-left: 15px;
}
.about{
    color: whitesmoke;
    border-radius: 5px;
    text-shadow: 2px 2px 2px rgb(63, 46, 2);
    background-color: rgba(218, 159, 32, 0.753);
    margin: 20px 0px 30px 0px;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(163, 163, 163);
    transition-property: font-size;
  transition-duration: 2s;
  transition-delay: 0.5s;
  border-top: 3px solid black;
}
.about:hover{
    box-shadow: 10px 10px 31px 2px rgba(13,2,2,0.75);
-webkit-box-shadow: 10px 10px 31px 2px rgba(13,2,2,0.75);
-moz-box-shadow: 10px 10px 31px 2px rgba(13,2,2,0.75);

}
.about h1{
    text-align: center;
    font-size: 48px;
    text-shadow: 2px 3px 3px goldenrod;
    margin-top: 20px;
    padding-bottom: 10px;
}
.about h1:hover{
    color: rgb(22, 2, 44);
    text-shadow: 3px 3px 3px whitesmoke
}
.about i{
    padding-top: 10px;
}
.description{
    display: none;
}
.about:hover{
    color: rgb(253, 253, 167);
    text-shadow: rgba(44, 44, 44, 0.808);
    background-color: rgba(76, 39, 145, 0.808);
    transition: all 2s ease-in-out;
}
.about:hover .description{
    display: inline-block;
    
    transition: all 0.5s ease-in-out;
}
.follow{
    background-color: rgba(235, 127, 235, 0.842);
    border: 3px solid salmon;
    padding-top: 25px;
    padding-bottom: 50px;
}
.follow .links{
    
    padding-bottom: 10px;
    padding-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: rgba(90, 3, 112, 0.979);
    font-size: 25px;
}
.navbar a:hover{
    text-decoration: none;
    color: white ;
    text-shadow: 2px 2px 2px rgb(98, 0, 255) ;
    
}
#portfolio h1:hover{
    text-shadow: 3px 3px 3px goldenrod;
}

#portfolio{
    background-color: rgba(31, 2, 59, 0.815);
    color: white;
    text-shadow: 1px 1px 1px whitesmoke;
    border-radius: 5px;
    border-top: 3px solid black;
    transition: background-color 2s ease-out;
    margin-top: 50px;
}
#portfolio.is-active{
    background-color: brown;
}

#portfolio .items{
    display: none;
    
}

#portfolio .items:hover{
    transition-property: opacity, left;
  transition-duration: 3s, 5s;
    
}
#portfolio a{
    color: whitesmoke;
}
#portfolio a:hover{
    text-decoration: none;
    color: white;

}
/* img{
    border: 5px solid goldenrod;
    width: 75%;
    height: auto;
    background-size:contain;
} */
.title{
    
    font-size: 32px;
    color: whitesmoke;
    
    float: bottom;
    text-shadow: 3px 3px 3px rgb(37, 37, 1);
    

}
.head{
    text-align: right;
    position: relative;
    top: 150px;
}
.logo{
    height: auto;
    width: 30%;
    float: right;
}
.footer{
    background-color: grey;
    width: 100%;
    margin-top: 30px;
    color: white;
    text-align: right;
    border-top: 2px solid goldenrod;
    padding-right: 50px;
}
.footer i{
    margin-right: 15px;
    color: whitesmoke;
}
.items img{
    height: 150px;
    width: auto;
}
button{
    background-color: goldenrod;
    border-radius: 15px;
    border: 1px solid rgba(253, 1, 140, 0.801);
    color: white;
    
}

button:hover{
    background-color: rgba(253, 1, 140, 0.801);
    border: 1px solid goldenrod;
    color: white;
    
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .navbar{
        display: flex;
        flex-direction: column;
        
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .navbar li{
        display: flex;
        flex-direction: column;
        
    }
    .navbar a{
        color: white;
        font-size: 15px;
    }
    .logo{
        height: auto;
        width: 100%;
        position: absolute;
        top: 150px;
        left: 65px;
        background-color: rgba(245, 245, 245, 0.356);
        border: 1px solid rgb(70, 51, 3);
        padding: 15px 15px 15px 15px;
    }
    .title{
        font-size: 25px;
    }
    .head{
        
        padding-top: 75px;
        text-align: center;
        bottom: 85px;
        position: absolute;
    }
    
  }
    


